.card{
    margin-top:50px;
}
.img-fluid{
    width:100%;
    height:100%;
}
.tour{
    margin-left:150px;
    margin-right:150px;
}
.card-title{
    font-size:30px;
    color:#005387;
}
.tripDuration{
    font-size:20px;
    color:rgb(34, 34, 34);
}
.bi{
    color:rgba(226, 206, 50, 0.648);
    margin-right:5px;
    margin-top:10px;
}
.detail{
    text-decoration: none;
}
h1{
    color:#044c64;
    font-size:50px;
}
.btn-primary{
    background-color:#03619b;
}
.btn-primary:hover{
    background-color:#209ce9;
    border:none;
}