<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <!-- Sidebar menu-->
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/img/logo.jpg" width="50px"
        alt="User Image">
      <div>
        <p class="app-sidebar__user-name"><b>Minh Quang</b></p>
        <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      </div>
    </div>
    <hr>
    <ul class="app-menu">
      <li><a class="app-menu__item " href="#" data-url="/tour_management"><i class='app-menu__icon bx bx-id-card'></i>
          <span class="app-menu__label">Quản lý tour</span></a></li>
      <li><a class="app-menu__item" href="#" data-url="/customer_management"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý khách hàng</span></a></li>
    <li><a class="app-menu__item " href="#" data-url="/registered_tour_management"><i class='app-menu__icon bx bx-task'></i><span
          class="app-menu__label">Quản lý tour đăng kí</span></a></li>
    </ul>
  </aside>
  <!-- Sidebar menu-->