<footer>
  <div class="footer-container">
      <div class="footer-left">
          <h1>Liên hệ</h1>
          <h1>TP. Hồ Chí Minh</h1>
          <p><span class="material-icons icon">location_on</span> Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh</p>
          <p><span class="material-icons icon">mail</span> vivaviet.sgn@gmail.com</p>
          <p><span class="material-icons icon">contact_phone</span> (028)386 8386</p>
          <div class="logo1">
              <img src="\img\logoSaleNoti.png" alt="Logo Sale Noti">
              <img src="\img\DMCA_logo-grn-btn120w.png" alt="DMCA Logo">
              <img src="\img\napas_logo.png" alt="napas logo">
          </div>
      </div>
      <div class="footer-right">
          <h1>Thông tin</h1>
          <a href="#" class="terms1">
              <span><span class="material-icons icon">arrow_forward_ios</span>Chính sách thay đổi, chuyển hoặc hủy tour</span>
          </a>
          <a href="#" class="terms1">
              <span><span class="material-icons icon">arrow_forward_ios</span>Chính sách thanh toán</span>
          </a>
          <p><span class="material-icons icon">schedule</span>Thứ 2-6 08:00 - 17:00</p>
          <p><span class="material-icons icon">schedule</span>Thứ 7 08:00 - 12:00</p>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="footer-bottom-left">
          <p>&copy; 2024 Travel Website. All rights reserved.</p>
      </div>
      <div class="footer-bottom-right">
          <a href="#" class="terms"><p>Điều khoản sử dụng</p></a>
          <a href="#" class="terms"><p>Chính sách bảo mật</p></a>
          <a href="#"><i class="fab fa-facebook icon1"></i></a>
          <a href="#"><i class="fab fa-instagram icon1"></i></a>
          <a href="#"><i class="fab fa-tiktok icon1"></i></a>
      </div>
  </div>
</footer>