<header>
  <div class="left-section">
    <div class="logo"><img src="/img/logo.jpg" alt="Logo"></div>
  </div>
  
  <div class="right-section">
    <a href="#"><i class="material-icons">local_mall</i>Chuyến đi của tôi</a>
    <a href="#"><i class="material-icons">call</i>Liên hệ</a>
    <div class="dropdown">
      <a href="javascript:void(0);" onclick="toggleDropdown(event, 'dropdownMenu')"><i class="material-icons">reorder</i>Danh mục</a>
      <div class="dropdown-content" id="dropdownMenu">
        <a href="javascript:void(0);" onclick="toggleOption1Dropdown()">Điểm đến</a>
        <div class="option1-dropdown" id="option1Dropdown">
          <a href="#">Việt Nam</a>
          <a href="#">Châu Á</a>
          <a href="#">Châu Âu</a>
          <a href="#">Châu Mỹ</a>
          <a href="#">Châu Đại Dương</a>
          <a href="#">Trung Đông</a>
        </div>
        <a href="javascript:void(0);" onclick="toggleOption2Dropdown()">Loại hình tour</a>
        <div class="option2-dropdown" id="option2Dropdown">
          <a href="#">Tour theo lịch trình có sẵn</a>
          <a href="#">Hành hương Công giáo</a>
          <a href="#">Du lịch độc lạ</a>
        </div>
        <a href="#">Góc kiến thức</a>
        <a href="#">Thông tin hữu ích</a>
      </div>
    </div>
    <a href="#" class="login-link"><i class="material-icons">account_circle</i>Đăng nhập</a>
  </div>
  
</header>


<script>
  // Dropdown logic
function toggleDropdown(event, menuId) {
    const dropdown = document.getElementById(menuId);
    const dropdowns = document.querySelectorAll('.dropdown-content');

    // Đóng tất cả dropdown khác
    dropdowns.forEach(d => {
        if (d !== dropdown) {
            d.style.display = 'none';
        }
    });

    // Chuyển đổi hiển thị của dropdown hiện tại
    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    event.stopPropagation();
}

function toggleOption1Dropdown() {
    const option1Dropdown = document.getElementById('option1Dropdown');
    const option2Dropdown = document.getElementById('option2Dropdown');

    // Đóng dropdown khác
    option2Dropdown.style.display = 'none';
    option1Dropdown.style.display = option1Dropdown.style.display === 'block' ? 'none' : 'block';
}

function toggleOption2Dropdown() {
    const option2Dropdown = document.getElementById('option2Dropdown');
    const option1Dropdown = document.getElementById('option1Dropdown');

    // Đóng dropdown khác
    option1Dropdown.style.display = 'none';
    option2Dropdown.style.display = option2Dropdown.style.display === 'block' ? 'none' : 'block';
}

// Đóng tất cả dropdown khi nhấp ra ngoài
window.addEventListener('click', function(event) {
    const dropdowns = document.querySelectorAll('.dropdown-content');
    dropdowns.forEach(d => {
        d.style.display = 'none';
    });
});
</script>