    <div class="container mt-5">
        <h1>Chuyến đi của tôi</h1>
      </div>
    <div class="container tour">
        <div class="card mb-3" style="width: 90%;">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">DU LỊCH NHẬT BẢN: MÙA XUÂN BẤT TẬN</h5>
                  <p class="card-text">Mỗi khi mùa hoa anh đào gõ cửa, toàn bộ đất nước Nhật Bản dường như biến thành một bức tranh hồng nổi bật, với hàng ngàn bông hoa nhẹ nhàng nhảy múa giữa không trung.</p>
                  <div class="row">
                    <div class="col-md-10 tripDuration">
                        <i class="bi bi-brightness-high-fill"></i>5 ngày
                        <i class="bi bi-moon-fill"></i>5 đêm
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="detail btn btn-primary">Chi tiết</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
        </div>
        <div class="card mb-3" style="width: 90%;">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">DU LỊCH HONGKONG - HƯƠNG CẢNG THƠM RỰC RỠ</h5>
                  <p class="card-text">Du lịch Hongkong dịp tết Nguyên đán là cơ hội tuyệt vời để bạn chiêm ngưỡng vẻ đẹp Đông Tây hội ngộ tại mảnh đất năng động bậc nhất trong khu vực. </p>
                  <div class="row">
                    <div class="col-md-10 tripDuration">
                        <i class="bi bi-brightness-high-fill"></i>5 ngày
                        <i class="bi bi-moon-fill"></i>5 đêm
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="detail btn btn-primary">Chi tiết</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>