<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src\public\css\app.css">
    <title>Quên mật khẩu</title>
    <script>
        function redirectToReset() {
            window.location.href = "reset_password.ejs"; // Chuyển hướng tới reset_password.ejs
        }
    </script>
</head>
<body>
    <div class="quenmk-container">
        <h1 class="quenmk-h1">QUÊN MẬT KHẨU</h1>
        <div class="form-group-forgotpw">
            <input class="forgotpw" type="text" placeholder="Nhập email">
        </div>
        <div class="form-group-forgotpw">
            <input class="forgotpw" type="text" placeholder="Nhập SĐT">
        </div>
            <button class="quenmk-button" onclick="redirectToReset()">Tiếp</button>
    </div>
</body>
</html>