    <div class="quenmk-container">
        <h1 class="quenmk-h1">QUÊN MẬT KHẨU</h1>
        <div class="form-group-forgotpw">
            <input class="forgotpw" type="text" placeholder="Nhập email" name="email">
        </div>
        <div class="form-group-forgotpw">
            <input class="forgotpw" type="text" placeholder="Nhập SĐT" name="phone-number">
        </div>
        <button class="quenmk-button" type="button">Tiếp</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.quenmk-button').click(function(event){
                event.preventDefault();
                var email = $('input[name="email"]').val();
                var phone = $('input[name="phone-number"]').val();

                if (!email || !phone) {
                    alert('Please enter both email and phone number.');
                    return;
                }

                console.log(email);
                console.log(phone);

                fetch('/forgot_password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: email,
                        phone: phone,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.success);
                    if (!data.success) {
                        alert(data.message);
                        return;
                    } else {
                        window.location.href = `/reset_password?email=${email}&phone=${phone}`;
                    }
                })
                .catch((error) => {
                    console.log('Error:', error);
                });
            });
        });
    </script>
