<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\css\app.css">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div class="quenmk-container">
        <h1 class="quenmk-h1">QUÊN MẬT KHẨU</h1>
        <div class="quenmk-text">
            <p class="quenmk-p">Email</p>
            <input class="quenmk" type="text" placeholder="Nhập email">
            <input class="quenmk" type="text" placeholder="Nhập SĐT">
            <button class="quenmk-button">Tiếp</button>
        </div>
    </div>
</body>
</html>