    <div class="quenmk-container">
        <h1 class="quenmk-h1">QUÊN MẬT KHẨU</h1>
        <div class="form-group-forgotpw">
            <input class="forgotpw" type="text" placeholder="Nhập email" name="email">
        </div>
        <div class="form-group-forgotpw">
            <input class="forgotpw" type="text" placeholder="Nhập SĐT" name="phone-number">
        </div>
            <button class="quenmk-button" onclick="redirectToReset()">Tiếp</button>
    </div>
    <script>
        function redirectToReset() {
            window.location.href = "reset_password"; // Chuyển hướng tới reset_password.ejs
        }
    </script>
