<div class="login-container">
    <h1 class="login-h1">Đăng Nhập</h1>
    <form action="/login" method="POST">
        <div class="login-form-group">
            <label class="login-label" for="phone-number">Số điện thoại</label>
            <input class="login" type="text" id="phone-number" name="phone" required>
        </div>
        <div class="phone-err" id="phone-err"></div>
        <div class="login-form-group">
            <label class="login-label" for="password">Mật khẩu</label>
            <input class="login" type="password" id="password" name="password" required>
        </div>
        <div class="password-err" id="password-err"></div>
        <button class="login-button" type="submit">Đăng Nhập</button>
        <div class="login-links">
            <a class="login-dkitaikhoan" href="/signup">Đăng ký tài khoản</a> 
            <p class="text">|</p>
            <a class="login-forgot-password " href="/forgot_password">Quên mật khẩu?</a>
        </div>

        <div class="notification" id="notification"></div>
    </form>
</div>
<script src="/js/login.js"></script>