<body>
    <div class="container">
      <div class="noti">
        <i class="bi bi-check-circle"></i>
        <h2>Thanh toán thành công!</h2>
        <h5>Cảm ơn bạn đã đặt tour du lịch của chúng tôi. Dưới đây là thông tin vé của bạn.</h5>
      </div>
      <div class="ticket">
        <!-- Header -->
        <div class="ticket-header">
            <div class="white">
              <img src="Ảnh chụp màn hình 2024-12-08 014046.svg">
            </div>
            <div class="green"></div>
        </div>
        <!-- Body -->
        <div class="ticket-body">
            <!-- Booking Info -->
            <div class="row ticket-section" >
              <div class="col-md-5" style="margin-left:30px">
                <div class="ticket-section-title" >THÔNG TIN TOUR</div>
                    <div class="ticket-info">
                      <span class="label">MÃ TOUR:</span>
                      <span class="value">24022004</span>
                  </div>
                  <div class="ticket-info">
                      <span class="label">NƠI ĐI:</span>
                      <span class="value">HCM</span>
                  </div>
                  <div class="ticket-info">
                      <span class="label">NƠI ĐẾN:</span>
                      <span class="value">HN</span>
                  </div>
                  <div class="ticket-info">
                      <span class="label">NGÀY ĐI:</span>
                      <span class="value">22/07/2023</span>
                  </div>
                  <div class="ticket-info">
                      <span class="label">NGÀY VỀ:</span>
                      <span class="value">22/07/2023</span>
                  </div>
                  <div class="ticket-info">
                      <span class="label">PHƯƠNG TIỆN:</span>
                      <span class="value">Máy bay</span>
                  </div>
                  <div class="ticket-barcode">
                    <img src="image.png">
                    <p>Quét mã QR tại quầy để xác nhận vé</p>
                  </div>
                  </div>
                  <div class="col-md-1">
                    <div class="divider"></div>
                  </div>
              <div class="col-md-5">
                <div class="ticket-section-title">THÔNG TIN ĐẶT TOUR</div>
                <div class="ticket-info">
                    <span class="label">MÃ ĐẶT TOUR:</span>
                    <span class="value">9723107</span>
                </div>
                <div class="ticket-info">
                    <span class="label">TRẠNG THÁI:</span>
                    <span class="value text-success">ĐÃ XÁC NHẬN</span>
                </div>
                <div class="ticket-info">
                    <span class="label">NGÀY ĐẶT:</span>
                    <span class="value">22/07/2023</span>
                </div>
                <div class="ticket-section-title" style="margin-top:20px">THÔNG TIN HÀNH KHÁCH</div>
                <div class="ticket-info">
                    <span class="label">HỌ VÀ TÊN:</span>
                    <span class="value">NGUYỄN VĂN A</span>
                </div>
                <div class="ticket-info">
                    <span class="label">NGÀY THÁNG NĂM SINH:</span>
                    <span class="value">10/10/1997</span>
                </div>
                <div class="ticket-info">
                    <span class="label">GIỚI TÍNH:</span>
                    <span class="value">NAM</span>
                </div>
              </div>
            </div>  
        </div>
    </div>
    </div>